In [ ]:
print("My Loving Student best for luck")

My Loving Student best for luck

In [ ]:
#print hello world
print("Hello , World")

Hello , World

In [1]:
#greet your name
name = input("Enter your name")
print("hello "+name +"!")

Enter your nameTalha
hello Talha!

In [2]:
#Basic Input Output
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum_result = num1 + num2
diff_result = num1 - num2
product_result = num1 * num2
if num2 != 0:
    quotient_result = num1 / num2
else:
    quotient_result = "Undefined (division by zero)"

print("Sum:", sum_result)
print("Difference:", diff_result)
print("Product:", product_result)
print("Quotient:", quotient_result)

Enter first number: 1
Enter second number: 2
Sum: 3.0
Difference: -1.0
Product: 2.0
Quotient: 0.5

In [3]:
#Odd and Even Checker
number = int(input("Enter a number: "))

if number % 2 == 0:
    print(f"{number} is Even.")
else:
    print(f"{number} is Odd.")

Enter a number: 3
3 is Odd.

In [4]:
#List of squares
squares = []

for i in range(1, 11):
    squares.append(i ** 2)

print("List of squares from 1 to 10:", squares)

List of squares from 1 to 10: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#List of Operations
numbers = [5, 3, 8, 1]

print("Original list:", numbers)

numbers.append(10)
print("After adding 10:", numbers)

numbers.remove(3)
print("After removing 3:", numbers)

numbers.sort()
print("Sorted list:", numbers)

In [ ]:
#Dictionary operations
students = {
    "Ali": 85,
    "Sara": 90,
    "Ahmed": 78
}

print("Original dictionary:", students)

students["Zara"] = 88
print("After adding Zara:", students)

students["Sara"] = 95
print("After updating Sara's marks:", students)

del students["Ahmed"]
print("After deleting Ahmed:", students)

In [ ]:
#Area Calculator
def calculate_area(radius):
    pi = 3.14159
    area = pi * radius * radius
    return area

r = float(input("Enter the radius of the circle: "))
print("Area of the circle:", calculate_area(r))

In [ ]:
#lamda Function
add = lambda x, y: x + y

num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

print("Sum using lambda:", add(num1, num2))

In [ ]:
#List Comprehension
even_numbers = [x for x in range(1, 21) if x % 2 == 0]

print("Even numbers from 1 to 20:", even_numbers)